/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    font-family: 'Silkscreen', sans-serif;
    color: black;
}
header,footer,h1,h3,h6,p{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    overflow-x: hidden;
}

.span{
    color: rgb(8, 92, 236);
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.HERO{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    /* background: radial-gradient(#2600d0,20%, #000001); */
    background-image: url(images/peakpx.jpg);
    background-size: 1000px;
    
    position: relative;
}
.shade{
    position: absolute;
    /* background-color: rgba(0,0,0,0.573); */
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
}
.HERO header .logo h2 a{
    display: black;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color:black;
}
.HERO header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Silkscreen', sans-serif;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid black;
}
nav ul li.active a{
    border-bottom: 2px solid black;
}
nav ul li.btn a{
    background: transparent;
    color: black;
    border: 1px solid white;
    padding: 9px 20px;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}
ul li.btn:hover a{
border: 1px solid black;
color: black;
background: white;
transition: .4s;
}
.content{
    padding-top: 140px;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}
.content .main-text h6{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 40px;
}
.content .main-text h1{
    font-size: 70px;
    line-height: 1;
    color: black;
    margin: 0px 0px 45px;
}
.content .main-text h3{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: black;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}
 btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
/* .pop{
    position: absolute;
    padding-left: 100px;
} */
.content .main-text btn:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    color: white;
    transition: .4s;
}
.content .social a{
    display: inline-block;
    color: #182ebf;
    margin-right: 25px;
    font-size: 24px;
}
/* .ab{
    color: white;

} */
.image{
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 0;
    right: 0;
    text-align: right;
}
footer {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.skills {
    text-align: center;
    margin-top: 10px;
    background-color: #0e59d3;
}

.skill-images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.skill-images img {
    height: 150px;
    object-fit: contain; 
    margin: 50px; /* margin between images */
}


